html {
  background-color: #191919;
  color: #C4BDAA;
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
}

body{
  margin: 0 auto;
  display: table;
}

html, body {
  height: 100%;
}

#container {
  display: table-cell;
  vertical-align: middle;
}

#gmap {
  border: 1px solid black;
  background: #C4BDAA;
  width: 800px;
  height: 400px;
  margin: 25px auto 0;
  margin-top: 30px;
}

#status {
  border: 1px solid black;
  background: #C4BDAA;
  color: #191919;
  width: 200px;
  margin: 25px auto 0;
  margin-top: 10px;
  text-align : left;
  padding : 5px;
}
